.panel-heading .accordion-toggle:after {
    font-family: 'fontAwesome';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    font-size: 12px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}
.panel-heading a {
  text-decoration: none !important;
}
.panel-title {
  font-size: 14px;
}
